{% extends "base.html" %}

{% block bodyblock %}

<p class="text-center">Enter any long URL Lets shorten it!</p>
    <form class="form-group" method="post">
      {%csrf_token%}
      <div class="form-group">
          {{form}}
          <input class="btn btn-success"  type="submit" name="" value="Shorten!">
      </div>

  </form>

<div class="input-group">
    <input type="text" class="form-control" value="{{shortenurl}}"  id="copy-input" readonly="true">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"  data-placement="button"
          title="Copy" onclick="copyText()">
        <span class="glyphicon glyphicon-link"></span>
      </button>
    </span>
  </div>
{% endblock bodyblock %}
